<%= form_for [@trade_team, @traded_player] do |f| %>

  <p>
    <%= f.label :player %><br>
    <%= f.collection_select(:player_id, Player.all, :id, :name) %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
