a {
  color: white;
  font-size: 20px;
}

a:hover, a:active, a:visited {
  color: #E0E0E0;
}

ul.title-area {
  font-size: 24px;
}

#trade {
  font-size: 30px;
}

ul {
  list-style-type: none;
}

.top-bar {
  height: 70px;
}

li.name h1 a {
  font-size: 20px;
}

.text {
  margin: 1em;
}

.top_bar_section {
  float: right;
}

.right {
  margin-top: 0em;
}

.right li a {
  color: white;
  font-size: 14px;
}

label {
  font-size: 18px;
  color: white;
}


body {
  background-image: url('/background.jpg');
}

p, h1, h2, h3, h4, h5, li {
  color: white;
}
