a {
  color: white;
  font-size: 21px;
}

a:hover {
  color: white;
  font-size: 21px;
  text-decoration: underline;
}

a:active, a:visited {
  color: white;
  font-size: 21px;
}

ul.title-area {
  font-size: 24px;
}

#trade {
  font-size: 30px;
}

ul {
  list-style-type: none;
}

.top-bar {
  height: 70px;
}

li.name h1 a {
  font-size: 20px;
}

.text {
  margin: 1em;
}

.top_bar_section {
  float: right;
}

.right {
  margin-right: 1em;
}

.right li a {
  color: white;
  font-size: 14px;
}

label {
  font-size: 18px;
  color: white;
}


body {
  background-image: url('/background.jpg');
}

p, h1, h2, h3, h4, h5, li {
  color: white;
}

h3#black {
  color: black;
}

h4#blue {
  color: #000099;
}

h4#red, h5#red, h5#red a {
  color: #B00000;
}

#contact a {
  text-decoration: underline;
  font-size: 16px;
  color: black;
}

.trade {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
  background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color:#f24537;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #d02718;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:44px;
  line-height:44px;
  width:148px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #810e05;
}
.trade:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
  background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
  background-color:#c62d1f;
}
.trade:active {
  position:relative;
  top:1px;
}
